.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
}

.button{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    color: #282828;
    background: #FFD600;
    border-radius: 100px;
    border: none;
    outline: none;

    width: 300px;
    height: 55px;

    display: flex;
    align-self: center;
    justify-content: center;
    cursor: pointer;

    margin: 0 auto;
    margin-top: 70px;
    transition: all ease .3s;

    &:hover{
    background: #c8a700;

    }

    
}

.bigTheater {
    padding: 150px 0px;
    width: 100%;

    @media screen and (max-width: 700px) {
        padding: 90px 0px;
    }


    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 50px;
        border-bottom: 1px solid #000000;

        @media screen and (max-width: 700px) {
            padding-bottom: 25px;
        }
        

        &_title {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 50px;
            color: #000000;

            @media screen and (max-width: 700px) {
                font-size: 22px;
                line-height: 120%;
            }

            @media screen and (max-width: 510px) {
                font-size: 18px;
            }
        }
        
        &_pic{
            width: 100px;
            height: 100px;
            border-radius: 100%;


        }
    }

    &__exp {

        
        &_two {
            margin-top: 18px;
            margin-bottom: 28px;
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: 700px) {
                margin: 30px 0px;
                flex-direction: column;
                gap: 10px;
            }
            
        }

        &_grid6 {
            gap: 20px;
            display: grid;
            grid-template-columns: 200px 200px;

                @media screen and (max-width: 700px) {
                    margin: 30px 0px;
                    grid-template-columns: 130px 160px;

                }

            &_bold {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: #000000;
                margin: 0 ;
            }

            &_gray {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: rgba(0, 0, 0, 0.7);
                margin: 0 ;


            }
        }

        &_near {
            display: flex;
            justify-content: flex-start;
            gap: 12px;
            margin: 30px 0px;

            @media screen and (max-width: 700px) {
                gap: 10px;
                margin: 10px 0px;
            }
            
            &_wk {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 25px;
                line-height: 36px;
                letter-spacing: 0.02em;
                color: #000000;

                @media screen and (max-width: 510px) {
                    font-size: 20px;
                    line-height: 120%;
                }
            }

            &_gr {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 25px;
                line-height: 36px;
                letter-spacing: 0.02em;
                color: rgba(0, 0, 0, 0.6);

                @media screen and (max-width: 510px) {
                    font-size: 20px;
                    line-height: 120%;
                }
            }
        }
    }

    &__opi {

        
        @media screen and (max-width: 700px) {
            margin: 30px 0px;

        }

        &_txt {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 27px;
            color: #000000;

            
        }

        &_ul{
            margin: 30px 0px;
            padding-left: 20px !important ;
        }

        &_li{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #000000;
            margin-left: 0px;
            margin-top: 15px;
            list-style-type: circle;

            @media screen and (max-width: 700px) {
                font-size: 14px;
            }

            &:before {
                
                padding-right: 5px;
            }
        }
    }

    &__link {
        border: 0;
        outline: none;
        background: linear-gradient(107.62deg, #FFD600 -53.02%, #FFC350 134.49%);
        border-radius: 100px;
        cursor: pointer;
        transition: ALL ease-in-out .5s;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 50px;
        color: #282828;
        text-decoration: none;
        width: 300px;
        height: 55px;
        margin: 0 auto;
        margin: 0 auto;
        margin-top: 135px;
        display: flex;
        justify-content: center;

        &:hover {
            background: #ffa908;
        }

        @media screen and (max-width: 700px) {
            margin-top: 45px;
            font-size: 22px;
        }
        
    }
}

body {
    margin: 0;
    background-color: #F3F3F3;
    ;
}



    .recomendation {

    

        
        &__link {
                
            border: 0;
            outline: none;
            background: #FFC350;
            border-radius: 12px;
            cursor: pointer;
            transition: ALL ease-in-out .5s;
            

            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 120%;
            text-align: center;
            color: #282828;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 300px;
            height: 55px;
            // padding: 10px 40px;
           margin: 0 auto;
            text-decoration: none;
            margin-top: 50px;

            @media screen and (max-width: 762px) {
                margin-top: 30px;
               
           }
            

            &:hover {
                background: #ffa908;
            }
        }

        &__number{
            display: flex;
            width: 100%;
            align-items: center;
            padding-bottom: 8px;
            border-bottom: 1px solid rgba(0, 0, 0);

            &_text{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                color: #000000;
            }

            &_blur{
                filter: blur(8px);
            }
        }

        &__access{
            display: flex;
            width: 100%;
            margin-top: 0px;


            &_text{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 36px;
                color: #000000;
                
            }
        }
    }
