.section__onas{
    padding: 50px 0px;

    @media screen and (max-width: 1200px){
         padding: 70px 0px;
    }

    @media screen and (max-width: 760px){
        padding: 50px 0px;
   }

   @media screen and (max-width: 480px){
    padding: 30px 0px;
   }


    & .onas{

        padding-top: 50px;

        display: flex;
        // justify-content: center;
        gap: 30px;

        @media screen and (max-width: 992px){
            flex-direction: column;
         
        }

        @media screen and (max-width: 480px){
            padding-top: 30px;
        }
        




        &__title{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 45px;
            line-height: 50px;
            text-align: center;
            text-transform: uppercase;
            color: #282828;
            margin: 0 auto;

            @media screen and (max-width: 760px){
                font-size: 32px;
                line-height: 130%;
           }
        }

        &__img{
            max-width: 900px;
            width: 100%;
            border-radius: 12px;

            @media screen and (max-width: 1450px){
                max-width: 500px;
            }

            @media screen and (max-width: 992px){
                max-width: 800px;
            }
             
        }

        &__item{

            display: flex;
            flex-direction: column;
            max-width: 720px;

            @media screen and (max-width: 760px){
                gap: 30px;
           }


            &_id{

                display: flex;
                align-items: center;
                gap: 36px;

                @media screen and (max-width: 760px){
                    gap: 0px;
                    flex-direction: column;
                    align-items: flex-start;
               }

                & .line{
                    width: 40px;
                    height: 2px;
                    background-color: #1262B3;
                    transform: translateY(-10px);

                    @media screen and (max-width: 760px){
                        gap: 20px;      
                        margin-top: 20px;  
                        width: 100%;                
                   }
                }

                &_title{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 137%;
                    color: #282828;


                @media screen and (max-width: 760px){
                    margin: 0;
                    padding-top: 20px;
               }

               @media screen and (max-width: 480px){
                font-size: 22px;
           }

                    & span {
                        color: #1262B3;
                        text-decoration: none;
                    }

                    a {
                        text-decoration: none;
                    }
                }
                
            }

        }

    }
}