

.section__poisk{
    padding: 100px 0px;
    background-color: #fff;

     
    @media screen and (max-width: 1200px){
        padding: 70px 0px;
   }

   @media screen and (max-width: 760px){
       padding: 50px 0px;
  }


    & .poisk{

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-top: 50px;
         
        @media screen and (max-width: 480px){
            margin-top: 30px;
        }

        &__title{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 45px;
            line-height: 50px;
            
            text-align: center;
            text-transform: uppercase;
            color: #282828;
            margin: 0 ;

            @media screen and (max-width: 994px ) {
                font-size: 40px;
                line-height: 140%;
            }

            @media screen and (max-width: 550px ) {
                font-size: 35px;
                line-height: 46px;
                
            }

        }

        &__subtitle{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 50px;
            color: #000000;
            margin: 0;

             
            @media screen and (max-width: 992px){
                font-size:22px ;
            }
             

            @media screen and (max-width: 550px){
                line-height: 140%;;
            }
        }

        &__form{

            position: relative;
            width: calc(100% - 20px);
            margin-top: 23px;

            // @media screen and (max-width: 1500px ) {
            //     width: 87% !important ;
            // }
           
    
            &_input{

                border:none;
                background-image:none;
                background-color:transparent;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
            
          
                width: calc(100% - 30px);
             
                

                background: #282828;
                border-radius: 12px;
                border: none;
                outline: none;
                padding: 14px 25px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 50px;
                color: rgba(255, 255, 255);

                @media screen and (max-width: 992px){
                   font-size:22px ;
               }

               @media screen and (max-width: 550px){
                font-size: 20px;
            }

                

                &::placeholder{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 50px;
                    color: rgba(255, 255, 255, 0.58);
                     
                @media screen and (max-width: 992px){
                    font-size:22px ;
                }

                @media screen and (max-width: 550px){
                    font-size: 20px;
                }

                }

                transition: all ease .3s;

                &:hover{
                background: #141414;

                }
            }

            &_svg{
                position: absolute;
                right: 30px;
                top: 22px;

                @media screen and (max-width: 550px){
                    right: 10px;
                }
            }

        }

        &__footer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

             
            @media screen and (max-width: 770px){
                flex-direction: column-reverse;
                align-items: flex-start;
            }

            

            &_button{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: rgba(255, 255, 255, 0.58);
                padding: 10px 32px;
                background: #282828;
                border-radius: 12px;
                text-decoration: none;
                transition: all ease .3s;

                &:hover{
                background: #141414;

                }
            }

            &_ishut{
                display: flex;
                align-items: center;
                gap: 20px;

                @media screen and (max-width: 550px){
                    flex-wrap: wrap;
                    gap: 8px;
                }

                &_text{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 30px;
                    color: #000000;

                     
                @media screen and (max-width: 992px){
                    font-size:22px ;
                }

                 
                @media screen and (max-width: 770px){
                    font-size:18px ;
                    margin:0 ;
                }

                }

                &_link{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 50px;
                    color: #1262B3;   
                    
                    transition: all ease .3s;

                     
                @media screen and (max-width: 992px){
                    font-size:22px ;
                    margin: 0;
                }

                @media screen and (max-width: 770px){
                    font-size:18px ;
                    margin: 0;
                }

                @media screen and (max-width: 550px){
                    font-size: 14px;
                }

                    &:hover{
                        color: #0080ff; 
    
                    }
                    
                }
            }
        }

    }

}

