.modal-wrapper {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.669);
    z-index: 9;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
  }

.modal {
    position: relative;
    background-color: #fff;

    max-width: 500px;
    width: 100%;

    border: 1px solid rgb(179, 179, 179);
    border-radius: 15px;

    overflow: hidden;
  
    animation: unfoldIn .6s linear;
    margin: 0px 20px;

    &__body{
        padding: 30px;

        &_text{
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 700;
          font-size: 22px;
          line-height: 44px;
          text-align: center;
          text-transform: uppercase;
          color: #020202;

          @media screen and (max-width: 500px) {
            line-height: 160%;
            font-size: 15px;
        }

        }

        &_buttons{
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;

          &_btn{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 50px;    
            text-align: center;
            color: #282828;
            background: #FFD600 ; 
            border-radius: 100px;
            padding: 0px 60px;
            border: none;
            outline: none;
            margin: 0;
            transition: all ease .3s;

            @media screen and (max-width: 500px) {
              padding: 0px 30px;
          }

            &:hover{
              background: #c3a300 ; 
            }

          }
        }
        
    }

    & .close{
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 20px;
      font-weight: 700;
      cursor: pointer;
    }
  }

  @keyframes unfoldIn {
    0% {
      transform:scaleY(.005) scaleX(0);
    }
    50% {
      transform:scaleY(.005) scaleX(1);
    }
    100% {
      transform:scaleY(1) scaleX(1);
    }
  }