.avatar{
    width: 120px;
    border-radius: 12px;

    @media screen and (max-width: 480px) {
        max-width: 100px;
        width: 100%;
        height: 100px;
        border-radius: 50%;


     }
}

.sectionRec {
    padding: 150px 0px;

    & .container{
        max-width: 1200px;
        margin: 0 auto;
        padding: 0px 20px;
    }


    .recomendation {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        &__top {

            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            gap: 20px;

            @media screen and (max-width: 762px) {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                gap: 40px;
                margin-top:20px ;

            }

            &_title {

                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 25px;
                line-height: 50px;
                color: #000000;
                padding-top: 18px;
                letter-spacing: 0.02em;
                margin: 0;

                @media screen and (max-width: 762px) {
                    font-size: 20px;
                    padding: 0 !important;
                    line-height: 120%;
                }
            }

            &_left {

                @media screen and (max-width: 762px) {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }

                &_name {

                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 19px;
                    color: #000000;
                    margin: 0;


                }

                &_text {

                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 160%;
                    color: rgba(0, 0, 0, 0.7);
                    margin: 0;


                }

                &_blue {

                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 50px;
                    color: #1877EE;
                    margin: 0;


                }

            }


        }

        .image {
            width: 160px;
            height: 110px;
        }

        &__speciality {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 60px;
            border-top: 1px solid rgba(0, 0, 0);

            
            @media screen and (max-width: 762px) {
                margin-top: 20px;
            }

            &_leftS {

                display: flex;
                flex-direction: row;
                margin-top: 30px;
                gap: 60px;

                @media screen and (max-width: 500px) {
                    gap: 30px;
                    margin-top: 50px;
                }

                &_specializ {

                    &_text1 {

                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 160%;
                        color: #000000;
                        margin: 0;


                    }
                }

            }
        }

        
        



        &__experience{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 30px;


            &_vi{
                display: flex;
                gap: 12px;
                margin-bottom: 30px;

                @media screen and (max-width: 762px) {
                    flex-direction: column;
                    gap: 5px;
                }


                &_exp{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 25px;
                    line-height: 36px;
                    margin: 0;
                    color: #000000;

                    @media screen and (max-width: 762px) {
                        font-size: 22px;
                    }
                }

                &_exp1{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 25px;
                    margin: 0;
                    line-height: 36px;
                    color: rgba(0, 0, 0, 0.6);
                }
            }


            &_info{
                display: grid;
                grid-template-columns: 20% 60%;
                gap: 25px;
                margin-bottom: 67px;

                @media screen and (max-width: 762px) {
                     grid-template-columns: none;
                     margin-bottom: 30px;
                    
                }


                &_grids{
                display: flex;
                flex-wrap: wrap;
                gap: 15px;
                    
                @media screen and (max-width: 762px) {
                    display: flex;
                    justify-content: flex-start;
                    gap: 10px;
                }


                &_skills {

                    @media screen and (max-width: 430px) {
                       padding: 5px 20px;
                    }
                
                border: none;
                background: none;
                border: 1px solid #000000;
                border-radius: 12px;
                max-width: 400px;

                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 120%;
                color: #282828;
                margin: 0;
                
                width: fit-content;
                padding: 20px 23px;
                text-transform: uppercase;
                

                }
            }


            }
        }

        
        &__link {
                
            border: 0;
            outline: none;
            background: #FFC350;
            border-radius: 12px;
            cursor: pointer;
            transition: ALL ease-in-out .5s;
            

            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 120%;
            text-align: center;
            color: #282828;
            border-radius: 100px;
            margin-top: 77px;
            padding: 5px 40px;

            @media screen and (max-width: 762px) {
                margin-top: 30px;
               
           }
            

            &:hover {
                background: #ffa908;
            }
        }

        &__number{
            display: flex;
            align-items: center;
            gap: 10px;
            width: 100%;
            align-items: center;
            padding-bottom: 8px;
            border-bottom: 1px solid rgba(0, 0, 0);

            &_text{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                    margin: 0;
                    font-size: 20px;
                line-height: 24px;
                color: #000000;
            }

            &_blur{
                filter: blur(8px);
            }
        }

        &__access{
            display: flex;
            width: 100%;
            margin-top: 26px;


            &_text{
                font-family: 'Montserrat';
                    margin: 0;
                    font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 36px;
                color: #000000;
                
            }
        }
    }
}