.VAC {
    
    width: 95%;
    padding: 30px 0px;
    z-index: 999 !important;




    & .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0px 20px;
    }



    &__out {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width:875px ;
        margin: 0 auto;
        position: relative;
     
        text-decoration: none !important;

        & .svg{
            position: absolute;
            bottom: 10px;
            right: 20px;
        }


        &_in {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 12px;
            padding: 8px 0px 8px 8px;
            height: 250px;
            text-decoration: none !important;

            @media screen and (max-width: 750px) {
                height: fit-content;
                padding: 120px 0px 50px 20px;
            }

            &_title {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 30px;
                line-height: 50px;
                color: #1262B3;
                // ce1616
                margin: 0;

                @media screen and (max-width: 750px){
                    font-size: 22px;
                }
            }

            &_two {
                display: flex;
                gap: 40px;
                margin-top: 10px;

                @media screen and (max-width: 750px) {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }

                &_sal {
                    display: flex;
                    flex-direction: column;

                    &_text {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 15px;
                        line-height: 36px;
                        letter-spacing: 0.02em;
                        color: #282828;
                        margin: 0;
                         
                    }

                    &_exp {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 10px;
                        line-height: 36px;
                        letter-spacing: 0.02em;
                        margin: 0;
                        color: rgba(40, 40, 40, 0.7);
                    }
                }
            }

            &_logo {
                position: absolute;
                top: 20px;
                right: 18px;
                width: 100px;
                height: 100px !important;
                border-radius: 50%;

                @media screen and (max-width: 750px) {
                        
                    height: auto;
                   
                    left: 15px;
                    top: 15px;
                    margin-bottom: 20px;

                    }

            }
        }

        &_botline {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 22px;

            &_eyeDiv {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                &_245{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 19px;
                        margin: 0;
                        color: rgba(0, 0, 0, 0.6);
                    
                }

                &_eye {
                    width: 30px;
                    height: 30px;
                    margin-right: 5px;
                }
            }

            &_change {
                display: flex;
                gap: 20px;


                &_pics {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    gap: 10px;

                    &_blue {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 16px;
                        margin: 0;
                        color: #1877EE;
                        text-decoration: none;

                        &:hover {
                            color: #8abfff;
                            transition: .4s;
                        }

                    }

                    &_delete{
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        margin: 0;
                        line-height: 16px;
                        color: #282828;

                        &:hover {
                            color: #8abfff;
                            transition: .4s;
                        }
                    }

                   

                    &_other {
                        width: 15px;
                        height: 15px;
                        margin-right: 5px;
                    }
                }

            }
        }
    }
}