.section__footer{
    padding: 30px 0px;
    background-color: #1D1D1D;




    & .footer{

        width: 100%;

        &__logos{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__info{
            display: flex;
            justify-content: space-between;
            gap: 40px;

            margin-top: 40px;

            @media screen and (max-width: 900px){
                flex-direction: column-reverse;
                gap: 40px;
                margin-top: 40px;
            }

            &_item{
                display: flex;
                flex-direction: column;
                align-items: flex-start;




                 

                &_title{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 28px;
                    color: #FFCC2D;  
                    text-align: left;
                    
                    @media screen and (max-width: 900px){
                        text-align: left;
                        width: 100%;
                     }
                }

                &_contacts{
                    display: flex;
                    gap: 40px;
                    align-items: center;
                    margin-top: 40px;

                    @media screen and (max-width: 900px){
                        margin-top: 20px;
                    }

                    @media screen and (max-width: 550px){
                        gap: 20px;
                        width: 100%;
                     }
                     

                    &_tel{
                        display: flex;
                        flex-direction: column;

                        & a{
                              font-family: 'Montserrat';
                              font-style: normal;
                              font-weight: 400;
                              font-size: 20px;
                              line-height: 28px;
                              color: #fff;
                              text-decoration: none;
                              transition: all ease .3s;

                              &:hover{
                                 color: #FFCC2D;
                              }
                        }
                    }

                    &_icons{
                        display: flex;
                        gap: 16px;

                        & .telegram{
                            transition: all ease .3s;

                            &:hover{
                                fill:#3F94FF !important;
                            }
                        }

                        & svg {
                            transition: all ease .3s;

                            &:hover{
                            transition: all ease .3s;

                                path {
                            transition: all ease .3s;

                                    fill: #63FF03 !important;
                                    
                                }
                            }
                        }



                    }
                }

                &_mail{
                    display: flex;
                    align-items: center;
                    gap: 23px;
                    margin-top: 20px;

                    &_text{
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 28px;                 
                        text-align: center;
                        color: #FFFFFF;    
                        text-decoration: none;  
                        transition: all ease .3s; 
                        
                        &:hover{
                            color: #FFCC2D;
                         }
                    }
                }

                &_geo{
                    display: flex;
                    align-items: center;
                    gap: 23px;
                    margin-top: 20px;

                    @media screen and (max-width: 550px){
                       gap: 10px;
                    }

                    &_text{
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 0px;
                        text-align: center;
                        color: #FFFFFF;
                    }
                }

                &_text{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 28px;       
                    text-align: center;
                    margin: 0 ;
                    
                    color: #FFFFFF;   
                    
                    @media screen and (max-width: 550px){
                        font-size: 18px;
                        text-align: left;
                    }
                }

                &_svg{
                    margin-top: 40px;
                }

            }

            &_port{
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                flex-wrap: wrap;
                max-width: 900px;

                @media screen and (max-width: 900px){
                    max-width: 700px;
                   
                }
           


                &_imgs{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    align-items: center;
                    gap: 40px;
                    margin-top: 20px;
                    width: 100%;


                    &_img{

                        
                         
                    @media screen and (max-width: 550px){
                        width: 100px;
                     }

                    }

                    &_img2{
                        max-width: 120px;
                    }
                     

                }


            }

        }



    }

}

.footer__bottom{

    background-color: #1D1D1D;

     

    padding: 20px 0px;

    border-top: 1px solid #606060;

    & .bottom{

             display: flex;
             align-items: center;
             justify-content: space-between;
             width: 100%;

             @media screen and (max-width: 900px){
                flex-direction: column;
            }

            @media screen and (max-width: 550px){
                text-align: left;
                align-items: flex-start;
            }

             &_left{
                max-width: 180px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 120%;
                color: #A5A5A5;
             }

             &_center{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 120%;
                color: #FFC350;
             }

             &_right{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                color: #D6D6D6;
    

                display: flex;
                align-items: center;
                gap: 35px;

                @media screen and (max-width: 900px){
                    flex-direction: column-reverse;
                    gap: 10px;
                    align-items: flex-start;
                }
             }
    }
}