.section__preap{
    height: 100%;
    width: 100%;
    padding: 200px 0px;
    background-image: url('../components/img/background.png');
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width: 600px) {
         padding: 150px 0px 100px 0px;
    }

    .preap{

        display: flex;
        justify-content: center;
        gap: 35px;
        margin: 88px 0px;

        @media screen and (max-width: 900px) {
            flex-direction: column-reverse;
            margin: 35px 0px;
        }

        @media screen and (max-width: 500px) {
            margin-top: 0px;
        }

        &__button {

            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 50px;
            text-align: center;
            color: #282828;

            background: #FFD600 ;
            border-radius: 100px;
            padding: 5px 20px;
            text-decoration: none;
            transition: all ease .3s;

            margin: 0 auto;
            width: 300px;
            height: 55px;

            display: flex;
            align-items: center;
            justify-content: center;

            @media screen and (max-width: 500px) {
                width: 200px;
                height: 40px;
                margin-top: 55px;
            }

            &:hover {
                background: #ffa908;
            }
        }

        &__title{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 72px;
            line-height: 83px;
            text-align: center;
            color: #FFFFFF;
            margin: 0 auto;



            @media screen and (max-width: 850px) {
                font-size: 32px;
            }

            @media screen and (max-width: 500px) {
                font-size: 29px;
            }
        }

        &__form{
            display: flex;
            flex-direction: column;

            max-width: 700px;
            width: 100%;
            gap: 35px;

            @media screen and (max-width: 900px) {
                max-width: 100%;
                width: 95%;
            }


            &_input{
                background: #D9D9D9;
                border-radius: 12px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 50px;
                outline: none;
                border: none;
              
                color: rgba(0, 0, 0, 0.7) !important;
                padding: 0px 15px;
                width: 95%;

            }

            &_flex{
                display: flex;
                align-items: center;
                gap: 35px;
            

                @media screen and (max-width:  640px) {
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 105%;
                    
               }

                &_arr{
                    background: #D9D9D9;
                    border-radius: 12px;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 50px;
                    outline: none;
                    border: none;
                  
                    color: rgba(0, 0, 0, 0.7) !important;
                    padding: 0px 15px;
                    width: 100%;

                    @media screen and (max-width:  640px) {
                        width: 90%;
                        
                   }
                    
                }
            }

            &_textarea{
                background: #D9D9D9;
                border-radius: 12px;
                max-width: 100%;
                min-height: 150px;
                padding: 5px 15px;

                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 50px;
                outline: none;
                border: none;
                color: rgba(0, 0, 0, 0.7) !important;

                @media screen and (max-width:  640px) {
                    max-width: 100%;
                    width: 95%;
               }
                 
            }

            &_footer{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;

                @media screen and (max-width:  720px) {
                    flex-wrap: wrap; 
                    width: 100%;
                    gap: 0px;
               }

                &_text{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 50px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    
                    color: #FFFFFF;
                     
                    @media screen and (max-width:  720px) {
                        margin: 0;

                   }
                }

                &_input{
                    background: #D9D9D9;
                    border-radius: 12px;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 50px;
                    outline: none;
                    border: none;
                    color: rgba(0, 0, 0, 0.7) !important;
                     

                    padding: 0px 10px;
                    width: 170px;

                     
                @media screen and (max-width:  720px) {
                    width: 30%;
                    margin-top: 35px;
               }

                }
            }


        }

        &__info{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 35px;
            max-width: 230px;
            width: 100%;

            @media screen and (max-width: 900px) {
                margin-top: 60px;

                display: flex;
                flex-direction: row;

                max-width: 100%;
                width: 100%;
            }

            @media screen and (max-width: 768px) {
                flex-wrap: wrap;
             }

            & .file__info{

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 22.47876px;
        line-height: 50px;
        text-align: center;
        color: #1262B3;
        text-align: center;
        background: #D9D9D9;
        border-radius: 12px;
        width: 100%;
        height: 234px;

        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;
        cursor: pointer;

        @media screen and (max-width: 900px) {
           height: 200px;
           font-size: 18px ;
           line-height: 140%;
        }

        @media screen and (max-width: 768px) {
              flex: 0 1 47%;
              width: 100%;
         }

         @media screen and (max-width:  640px) {
            flex: 0 0 100%;
            width: 100%;
            height: 100px;
       }

        & .input_file{
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 0;
            right: 0;
            opacity: 0;
        }

            }

        }

    }

}